.details-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d2e0fb;
  height: 100vh;
}
.heading {
  color: #8eaccd;
  font-size: 22px;
  font-weight: bold;
}

.form-container {
  border: 2px solid #f9f3cc;
}

.inputs-container {
  margin: 25px;
  display: flex;
}

.form-outline {
  width: 300px;
  margin-top: 5px;
  margin-left: 15px;
}

.input-heading {
  color: #b0578d;
  font-family: "Roboto";
  font-size: 22px;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
}

.submit-button {
  background-color: blue;
  border-radius: 8px;
  border-width: 2px;
  border-color: blue;
  height: 38px;
  color: white;
  width: 119px;
  margin: 15px;
  font-weight: 500;
  font-family: "Roboto";
  font-size: 12px;
}
