.nav-header {
  display: flex;
  justify-content: space-around;
  background-color: #fad0c4;
}

@media screen and (max-width: 767px) {
  .nav-header {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .nav-bar-large-container {
    display: none;
  }
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  max-width: 1110px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
}

@media screen and (max-width: 767px) {
  .nav-content {
    flex-direction: column;
    width: 100%;
    padding-right: 15px;
  }
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  flex: 1;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    display: none;
  }
}

.nav-menu-mobile {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .nav-menu-mobile {
    display: none;
  }
}

.nav-menu-list-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: #e6f6ff;
  flex: 1;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.nav-menu-item {
  font-family: "Roboto";
  margin: 10px;
  font-weight: bold;
  font-size: 24px;
  color: #475569;
}

.nav-menu-item-mobile {
  margin: 0px;
  cursor: pointer;
}

.nav-mobile-btn {
  border: none;
  padding: 0px;
  background: transparent;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  .nav-mobile-btn {
    display: none;
  }
}

.nav-bar-img {
  width: 24px;
}
.nav-link-mobile {
  text-decoration: underline;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 24px;
  line-height: 18px;
  color: white;
}
